* {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
    display: flex;
}

.container section {
    display: flex;
    align-items: center;
}

.container .item {
    border: 1px solid black;
    display: block;
    text-align: center;
    padding: 20px 0px 40px 0px;
}

.container .week {
    width: 75%;
    flex-wrap: wrap;
}


.container .week .item {
    width: 20%;
}

.container .week .item:nth-child(1),
.container .week .item:nth-child(7) {
    width: 100%;
}

.container .week .item:nth-child(8),
.container .week .item:nth-child(9) {
    width: 50%;
}

.container .notes {
    flex-direction: column;
    width: 25%;
}

.container .notes .item {
    width: 100%;
    height: 100%; /* or flex: 1 1 50% */

}
